.navigation-bar {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.navigation-bar__link {
  color: #780e0e;
  padding: 5px;
  font-family: serif;
  font-size: 10px;
  text-decoration: none;

  /* @media only screen and (min-width: 1066px) {
    padding: 15px;
    font-size: 22px;
  } */
}

@media (min-width: 450px) {
  .navigation-bar__link {
    padding: 10px;
    font-size: 15px;
  }
}

  @media (min-width: 650px) {
    .navigation-bar__link {
      padding: 15px;
      font-size: 22px;
    }
  }
